*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --warm-black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #ffffff;
    --orange: #F7931A;
}
html{
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    
}

body::-webkit-scrollbar {
    width: 12px;
  }
  
   /* Estilos barra (thumb) de scroll */
   body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
   body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  body::-webkit-scrollbar-track:hover, 
  body::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
  
header{
    position: relative;
    width: 100%;
    min-width: 100vh;
    height: 5rem;
    background-color: var(--orange);
}
.navbar{
    width: 100%;
    height: 5rem;
    min-width: 32rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid var(--warm-black);
    
}
.img-container{
    width: 7rem;
    height: 5rem;
    text-align: center;
}
.img-container img{
    width: 3.5rem;
    height: 3.5rem;
}
.img-container p{
    font-weight: 700;
    line-height: 1rem;
    font-weight: 1rem;
    color: var(--warm-black);
}
.navbar-menu{
    margin-left: 5rem;
}
.navbar-menu ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.navbar ul li a{
    text-decoration: none;
    color:var(--warm-black);
    font-size: 1rem;
    font-weight: 750;
    padding: 0.5rem;
    border: 2px solid var(--warm-black);
    border-radius: 0.5rem;
}
.navbar ul li a:hover{
    border: 3px solid var(--warm-black);
    border-radius: 0.5rem;
}
.navbar ul li:nth-child(2) a{
    background-color:#fab259;
}
.menu-search{
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.7rem;
    padding: 0.3rem;
    border-radius: 0.8rem;
    border: 2px solid var(--warm-black);
}
.menu-search input{
    border: var(--warm-black);
    background-color: var(--orange);
    outline: none;
    margin-left: 0.3rem;
}
.menu-search input::placeholder{
    color: var(--warm-black);
    font-size: 1rem;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
}
.menu-search picture{
    cursor: pointer;
}
.main-container{
 width: 100%;
 min-width: 100vh;
 background-color: white;
 display: flex;
 flex-direction: row;
}

.main-form--container{
    width: 20%;
    padding: 1rem;
    background-color: var(--just-white);
    position: relative;
}
.form-title{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.main-form--container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}
.label-form{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.label-form span{
    color:var(--warm-black);
    font-size: 1rem;
    font-weight: 750;
}
.label-form input{
    border-radius: 4px;
    border: 2px solid var(--warm-black);
    padding: 3px;
}
.button-form{
    padding: 10px;
    background-color: var(--orange);
    border-radius: 4px;
    border: 2px solid var(--warm-black);
}
.button-form:hover{
    cursor: pointer;
    background-color:#fab259;
}
.php-container{
 position: absolute;
 left: 85vw;
 top: 34rem;
 width: auto;
 bottom: 15rem;
 height: auto;
 font-size: 15px;
 font-weight: 600;
 color: black;
}
.main-products--container{
    width: 100%;
    height: 100%;
    margin: 1rem 0 1.8rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    padding-top: 0.5rem;
    margin-bottom: 4rem;
    padding-bottom: 2.5rem;
    background-color: var(--just-white);
}

.main-card--container1{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--orange);
    border-radius: 1.2rem;
}
.main-card--container1 picture img{
   width: 100%;
   height: auto;
   border-radius: 1.2rem;
}
.info--container1{
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--orange);
}
.info--container1 p:nth-child(1){
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.info--container1 p:nth-child(2){
    color: rgb(194, 158, 91);
    margin-bottom: 0.5rem;
}

.main-card--container2{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--orange);
    border-radius: 1.2rem;
 }
 .main-card--container2 picture{
    width: 100%;
    border-radius: 1.2rem;
 }
 .main-card--container2 picture img{
    width: 100%;
    height: 88%;
    border-radius: 1.2rem;
 }
 .info--container2{
     width: 100%;
     height: auto;
     text-align: center;
     color: var(--orange);
 }
 .info--container2 p:nth-child(1){
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
 }
 .info--container2 p:nth-child(2){
     color: rgb(194, 158, 91);
 }
.main-card--container3{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--orange);
    border-radius: 1.2rem;
}
.main-card--container3 picture{
    width: 100%;
    border-radius: 1.2rem;
 }
 .main-card--container3 picture img{
    width: 100%;
    height: 92%;
    border-radius: 1.2rem;
 }
 .info--container3{
     width: 100%;
     height: auto;
     text-align: center;
     color: var(--orange);
 }
 .info--container3 p:nth-child(1){
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
 }
 .info--container3 p:nth-child(2){
     color: rgb(194, 158, 91);
}
.main-card--container4{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--orange);
    border-radius: 1.2rem;
    margin-top: 1rem;
}
.main-card--container4 picture{
    width: 100%;
    border-radius: 1.2rem;
 }
 .main-card--container4 picture img{
    width: 100%;
    height: 92%;
    border-radius: 1.2rem;
 }
 .info--container4{
     width: 100%;
     height: auto;
     text-align: center;
     color: var(--orange);
 }
 .info--container4 p:nth-child(1){
    margin-bottom: 0.5rem;
 }
 .info--container4 p:nth-child(2){
     color: rgb(194, 158, 91);
     margin-bottom: 1rem;
}

.main-card--container5{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--orange);
    border-radius: 1.2rem;
    margin-top: 1rem;
}
.main-card--container5 picture{
    width: 100%;
    border-radius: 1.2rem;
 }
 .main-card--container5 picture img{
    width: 100%;
    height: 92%;
    border-radius: 1.2rem;
 }
 .info--container5{
     width: 100%;
     height: auto;
     text-align: center;
     color: var(--orange);
 }
 .info--container5 p:nth-child(1){
    margin-bottom: 0.5rem;
 }
 .info--container5 p:nth-child(2){
     color: rgb(194, 158, 91);
     margin-bottom: 1rem;
}

.main-card--container6{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--orange);
    border-radius: 1.2rem;
    margin-top: 1rem;
}
.main-card--container6 picture{
    width: 100%;
    border-radius: 1.2rem;
 }
 .main-card--container6 picture img{
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
 }
 .info--container6{
     width: 100%;
     height: auto;
     text-align: center;
     color: var(--orange);
 }
 .info--container6 p:nth-child(1){
    margin-top: 1rem;
    margin-bottom: 0.5rem;
 }
 .info--container6 p:nth-child(2){
     color: rgb(194, 158, 91);
     margin-bottom: 1rem;
}

.value-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    gap: 1rem;
}
.label-numberinput--container{
    width: auto;
    border-radius: 8px;
    padding: 3px;
    border: 1px solid var(--orange);
    display: grid;
    grid-template-columns: 1fr auto;
}
.label-numberinput--container .number-input{
    border: var(--just-white);
    width: 100%;
    outline: none;
    color: var(--orange);
    padding-right: 5px;
}
.sabores-input{
    width:60%;
    border-radius: 8px;
    padding: 3px;
    border: 1px solid var(--orange);
    display: grid;
    grid-template-columns: 1fr 1fr;
    outline: none;
    text-align: center;
}

.sabores-input::placeholder{
    text-align: center;
    color: rgb(143, 143, 143);
}

footer{
    width: 100%;
    min-width: 100vh;
    height: 5rem;
    background-color: var(--orange);
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
}
footer img{
    width: 1.5rem;
    height: 1.5rem;
}
.footer-container{
    height: 100%;
    width: calc(100% - 5rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.footer-container p{
    color: black;
    font-size: 1.5rem;
    font-weight: 750;
}